.wrapper{
    height: 100vh;
    background-color: rgb(205, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(225, 214, 214);
    height: auto;
    width: 50vw;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 1rem;
}

.signup__title{
    text-align: center;
    font-size: 50px;
}

.signup__form{
    display: flex;
    flex-direction: column;
}

.inputFields__container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.inputField{
    margin: 1rem 0rem;
}

.signup__button{
    margin: 2rem 0;
}